<div class="container custom-container-2">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Airport Name</label>
      <input type="text" name="name" class="form-control" id="name" aria-describedby="airport name" [(ngModel)]="airport.name">
    </div>
    <div class="form-group">
      <label for="iata">IATA</label>
      <input type="text" name="iata" class="form-control" id="iata" aria-describedby="airport name" [(ngModel)]="airport.iata">
    </div>
    <div class="form-group">
      <label for="icao">ICAO</label>
      <input type="text" name="icao" class="form-control" id="icao" aria-describedby="airport name" [(ngModel)]="airport.icao">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
  </form>
</div>
