<div *ngIf="AirportList.length !== 0">
  <h3 class="mb-3 text-center">Airport List</h3>

  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">IATA</th>
        <th scope="col">ICAO</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let airport of AirportList">
        <td>{{airport.id}}</td>
        <td>{{airport.name}}</td>
        <td>{{airport.iata}}</td>
        <td>{{airport.icao}}</td>
        <td>
          <a routerLink="/airport-edit/{{airport.id}}">Edit</a>
          <!--<span class="delete" (click)="deleteEmployee(airport.id)">Delete</span>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <button class="btn btn-outline-primary" routerLink="/airport-add">Add Airport</button>
</div>
